@tailwind base;
@tailwind components;
@tailwind utilities;


body{

 background: url('/images/download (1).jpeg');
-webkit-background-size: cover;
 -moz-background-size: cover;
 -moz-background-size: cover;
 background-size: cover;

  
}
.degrees::after{
    content:'\00b0'
}